---
export const prerender = false;
import Wrapper from "../layouts/Wrapper.astro";
import { Badge } from "@/components/ui/badge";
import data from "../data/data.ts";
import { collectAll } from "../lib/utils";
import Item from "@/components/Item.astro";
import { Separator } from "@/components/ui/separator";

const tags = collectAll(data, "tags");
const integrations = collectAll(data, "integrations");
const plans = collectAll(data, "plans");

const q = Astro.url.searchParams.get("q");
console.log(q);
---

<Wrapper title="Home">
  <section class="my-20 w-full flex justify-center items-center flex-col">
    <h1 class="font-medium text-7xl mb-3">Welcome to Wave</h1>
    <p class="text-foreground/70">
      A currated collection of UI components and themes.
    </p>

    <Separator className="my-10" />

    <section class="w-full max-w-screen-2xl mx-auto mt-10">
      <div class="flex flex-col">
        <div class="flex gap-2 flex-wrap">
          {
            tags.map((tag) => (
              // @ts-expect-error
              <Badge className="rounded-full" variant="default">
                {tag}
              </Badge>
            ))
          }
          {
            integrations.map((integration) => (
              // @ts-expect-error
              <Badge className="rounded-full" variant="secondary">
                {integration}
              </Badge>
            ))
          }
          {
            plans.map((plan) => (
              // @ts-expect-error
              <Badge className="rounded-full" variant="outline">
                {plan}
              </Badge>
            ))
          }
        </div>
      </div>
    </section>

    <section class="grid grid-cols-3 gap-10 max-w-screen-2xl mx-auto mt-20">
      {data.map((item) => <Item item={item} />)}
    </section>
  </section>
</Wrapper>
