---
interface Props {
  image: string;
}

const { image } = Astro.props;
---

<div class="relative w-full">
  <img src={image} alt="" class="w-full mx-auto relative z-10" />
  <img
    src={image}
    alt=""
    class="w-full absolute top-[-7px] left-0 right-0 scale-90 z-0 blur-lg opacity-70"
    aria-hidden="true"
  />
</div>
