---
interface Props {
  name: string;
}
const { name } = Astro.props;
---

<div
  class="absolute top-0 left-0 right-0 flex justify-center h-full items-center bg-gray-100"
>
  <p class="uppercase text-foreground/30 font-medium tracking-widest">
    No image
  </p>
</div>
